.tabs--container {
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 680px;
  padding: 24px;
  background-color: #0A1929;
  border: 1px solid rgba(255, 255, 255, 0.1);;
  border-radius: 10px;
}

.tabs--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
}

.tab--title {
  padding: 12px 16px;
  color: #FFFFFFB3;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.tab--title.active{
  color: rgb(144, 202, 249);
  border-bottom: 3px solid rgb(144, 202, 249);
}

.tab--content {
  width: 100%;
  padding: 24px;
  color: white;
}

